{% extends 'base.html' %}{% block title %}
{% endblock %} {%block body %}
 

<section id="top-section">
<div id="top-div">
<h1 id="top-div-heading">Welcome to the party...</h1>
<p id="header-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


  <form id="user-date">
    <div class="date-selection">
      <img class="date-img" src="/static/css/images/calendar.png" alt="image of calendar" />
      <h2 class="date-input-heading">Select a date</h2>
      <p>Date <input id="date" type="date" name="date" 
        min="1958-08-04" max="2022-09-19">
        </p>
        </div>
    <div class="message-input">
      <img class="note-img" src="/static/css/images/note.png" alt="image of a sticky note" />
      <h2 class="text-input-heading">What's the significance?</h2>
        <input id="message" type="text" name="message" placeholder="the day we first met..." size="25"/>
      </div>
    <div class="submit-btn">
    <input class="form-submit-button" type="submit" value = "Let's go!" />
  </p>
</div>
</form>
</section>

<section class="carousel-section" id="musical-messages" style="display:none;">
  <a id="finished-playlist" target="_blank" style="display:none;">Your finished playlist is ready...</a>
  <div id="carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="musical-message-text">Some text will go here.</h2>
        <img class="message-image" src="IMAGE WILL GO HERE">
        <em>CAN I GET A DATE IN HERE?</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="musical-message-text">Some different text will go here.</h2>
        <img class="message-image" src="IMAGE WILL GO HERE">
        <em>CAN I GET A DATE IN HERE?</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>
</div>


<script src="/static/generate-playlist.js"></script>

{% endblock %}