<!DOCTYPE html>
<html>
  <title>Musical Time Machine</title>

<head>
  <meta charset="utf-8">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

<section id="top-section">
<div id="top-div">
<h1>Profile page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed tempus urna et pharetra pharetra massa massa. Et ultrices neque ornare aenean euismod elementum.</p>

<!-- commented out for testing/debugging, code does work and is correct -->
<!-- <form id="user-date" method="get" action="/api/generate-playlist"> -->
<!-- code below is there for testing -->
  <form id="user-date">
  <h2>Select a date</h2>
  <p>Date <input id="date" type="date" name="date" 
    min="1958-08-04" max="2022-09-19">
    </p>
<h2>What is this date's significance?</h2>
  <input id="message" type="text" name="message" placeholder="the day we first met"/>
  <br>
    <input type="submit" value = "lets go" />
  </p>
</form>
</div>
</section>

<!-- style.display set to None (to hide)-->
<!-- default style set to None, appear when JS happens-->
<br>
<br>
<br>
<section class="carousel-section" id="musical-messages" style="display:none;">
  <a id="finished-playlist" target="_blank" style="display:none;">FINISHED PLAYLIST</a>
  <div id="carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="musical-message-text">Some text will go here.</h2>
        <img class="message-image" src="IMAGE WILL GO HERE">
        <em>CAN I GET A DATE IN HERE?</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="musical-message-text">Some different text will go here.</h2>
        <img class="message-image" src="IMAGE WILL GO HERE">
        <em>CAN I GET A DATE IN HERE?</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>
</div>


<script src="/static/generate-playlist.js"></script>
</body>

</html>
