

<h1>Profile page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed tempus urna et pharetra pharetra massa massa. Et ultrices neque ornare aenean euismod elementum.</p>
<h2>Select a date</h2>
<form id="user-date" method="get" action="/api/generate-playlist">
  <p>Date <input type="date" name="date" 
    min="1958-08-04" max="2022-09-19">
    </p>
<h2>Add a musical love letter</h2>
  <input type="text" name="message" placeholder="the day we first met"/>
  <br>
    <input type="submit" value="Let's go!"/>
  </p>
</form>
<script src="/static/js/generate-playlist.js"></script>